@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --color-purple: #5500E1;
    --color-sub-purple:#8C6EDB;
    --color-white:#E0E3E3;
    --color-black:#000;
    
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
* a{
    text-decoration: none;
}
* li{
    list-style-type: none;
}

header{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 10%;
    min-height: 5rem;
    background-color: transparent;
    background-color: var(--color-purple);
}
.log-in{
    color: var(--color-black);
    position: absolute;
    right: 5%;
}
.log-in:hover{
    transition: color 0.3s ease;
    color: var(--color-white);
}
#login{
    right: 20%;
}
#tittle{
    position: absolute;
    left: 25%;
}

#main-menu{
    position: fixed;
    justify-content: center;
    height: 90%;
    width: 20%;
    
}
#nav-menu{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: var(--color-purple);
}
#main-content{
    margin-left: 20%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit,minmax(200px,400px));
    grid-template-rows: repeat(auto-fit,minmax(300px,400px));
    background-color: var(--color-white); 
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    
} 
.producto{
    width: 200px;
    height: 300px;
}
    
.menu{
    text-align: center;
    padding: 2rem 0px;
}
/* .menu:hover{
    transition: background-color 0.3s ease;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--color-white);
}  */


/* footer{
    position: absolute;
    text-align: center;
    background-color: var(--color-purple);
    margin-top: 5rem;
    bottom: 0px;
    width: 100%;
    height: 5rem;
 }  */