@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --color-purple: #5500E1;
    --color-sub-purple:#8C6EDB;
    --color-white:#E0E3E3;
    --color-black:#000;
    
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
* a{
    text-decoration: none;
}
* li{
    list-style-type: none;
}
body{
    background-color: var(--color-purple);
}

header{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 10%;
    min-height: 5rem;
    background-color: var(--color-purple);
}
.log-in{
    color: var(--color-black);
    position: absolute;
    right: 5%;
}
.log-in:hover{
    transition: color 0.3s ease;
    color: var(--color-white);
    cursor: pointer;
}

#login{
    right: 20%;
}
#tittle{
    position: absolute;
    left: 25%;
}

#main-menu{
    position: fixed;
    justify-content: center;
    height: 90%;
    width: 20%;
    
}
#nav-menu{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: var(--color-purple);
}
.menu{
    color: var(--color-white);
    text-align: center;
    padding: 2rem 0px;
}
.menu:hover{
    transition: background-color 0.3s ease;
    color: var(--color-black);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--color-white);
    cursor: pointer;
} 

#main-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,400px));
    justify-content: center;
    justify-items: center;
    margin-left: 20%;
    background-color: var(--color-white); 
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
} 
.producto{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 500px;
    margin: 2rem 0px;
} 
.producto img{
    margin: 10% 0px;
    height: 60%;
    width: 80%;
}
.producto img:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgb(119, 112, 112);
}
.producto [type = "button"]{
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 2rem;
}
.producto [type = "button"]:hover{
    background-color: #8C6EDB;
    cursor: pointer;
    
}
#btn_carrito{
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 8vw;
    height: 8vh;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
}





/* footer{
    position: absolute;
    text-align: center;
    background-color: var(--color-purple);
    margin-top: 5rem;
    bottom: 0px;
    width: 100%;
    height: 5rem;
 }  */