*{
    margin: 0px;
    padding: 0px;
}

#formulario{
    box-sizing: border-box;
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 80vh;
    margin: 10vh auto;
    border:  solid black;
    border-radius: 1vh;
    overflow: hidden;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/imgs/hoja.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);z-index: -1;
}
#img{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url('../assets/imgs/hoja.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#datos{
    outline: 3px solid black;
    background-color: white;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}
#datos h1{
    margin-top: 30%;
    font-size: 250%;
    padding-bottom: 5%;
}
#formulario_log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#correo,#contenedor-contraseña{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 5vh;
    max-height: 50px;
    border: 2px solid black;
    border-radius: 5%;
    padding: 0px 2%;
    margin: 5%;
}
#contenedor-contraseña{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#contraseña{
    position: relative;
    left: -10px;
    padding-left: 5%;
    border: none;
    width: 90%;
}
#ver_contraseña{
    position: relative;
    right: -5px;
    height: 100%;
    width: 30%;
    border: none;
    background-image: url(../assets/icons/eye.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#login{
    border-radius: 10px;
    margin-top: 10%;
    padding: 10px 20px;
}
#login:hover{
    background-image: linear-gradient(to right, orange, white);
}

